@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.svg-container,
.svg-container-2 {
  enable-background: new 0 0 1366 768;
}

#Layer_6_start,
#Layer_3_start,
#Layer_4_start,
#Layer_5_start,
#Layer_7_start {
  opacity: 0;
}

#Layer_8_ending,
#Layer_12_ending,
#Layer_9_ending,
#Layer_10_ending,
#Layer_11_ending {
  opacity: 0;
}
.svg-container-2 {
  opacity: 0;
}
.text-agung-svg {
  opacity: 0;
}
